img {
    -webkit-user-drag: none;
}

.tasklist {
    min-width: 250px;
}

.barbutton {
    max-width: 75px;
}

.list::-webkit-scrollbar {
    width: .2rem;
    height: .5rem;
}

.progress {
    height: 5px;
}

#wrapper {
    position: absolute;
}
